$box-shadow-color: rgba(86,185,235,0.5);
$border-color: rgb(86, 165, 235, 0.25);
$input-text-background-color: white;
$page-background-color: #ecf5ff;
$choice-prefix-background-color: #56a5eb;
$text-color: #28243d;
$progressbar-background-color: #208de1