@use "./mixins" as mixins;
@use "./variables" as variables;

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  @include mixins.border;
  background-color: variables.$input-text-background-color;

  &:hover {
    @include mixins.hover;
  }
}

.score {
  color: variables.$text-color;
}



.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mixins.border;
  margin-top: 3rem;
  width: 100%;
  height: 150px;
  background-color: variables.$input-text-background-color;
  padding-top: 4.5rem;
  font-size: large;
  text-align: center;

  & .progressBar {
    align-self: flex-start;
    background-color: variables.$progressbar-background-color;
    height: 15px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: variables.$choice-prefix-background-color;
  color: white
}

.choice-text {
padding: 1.5rem;
color: variables.$text-color;
}